/* POPPINS FONT */
  @import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("img/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: "Signika Nagative", sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10%;
  width: 100%;
}
.logo img{
  max-width: 100%;
  width: 80px;
  height: auto; 
}

ul.navlist{
  display: flex;
  align-items: center;
}


ul.navlist li{
  margin-left: 2.5rem;
}

.login-btn{
  display: inline-block;
  font-size: 1rem;
  background: transparent;
  color: #fff;
  padding: 6px 24px;
  border: 2px solid #fff;
  border-radius: .5rem;
  font-weight: 600;
  cursor: pointer;
}
